.gallery {
  width: 90%;
  height: 80vh;
  position: fixed;
  top: 100px;
  background-color: rgb(78, 79, 79);
  transform: translateY(-150%);
  display: flex;
  flex-direction: column;
  overflow: scroll;
  z-index: 100;
  transition: all 1s;

  @media (width < 450px) {
    top: 155px;
  }
}
.close {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 110;
}
.active {
  transform: translateY(0);
}
